---
layout: compress
---

{% include head.html %}

<main>

    {% include header.html %}

    {{ content }}

    <h2>Що почитати</h2>

    <ul class="blog-posts">
        {% assign post_list = '' | split: ',' %}
        {% for post in site.posts %}
        {% for tag in post.tags %}
        {% assign post_list = post_list | push: post %}
        {% endfor %}
        {% endfor %}
        {% for post in post_list %}
        {% unless post == previous %}
        <li>
            <span>
                <i>
                    <time datetime="2022-01-28" pubdate="">
                        {{ post.date | date: "%b %-d, %Y" }}
                    </time>
                </i>
            </span>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endunless %}
        {% assign previous = post %}
        {% endfor %}
    </ul>

    <hr style="border: none; border-top: 3px dotted #a05a00; background: #f8f4ea; height: 0; margin: 2em 0;">

    <h2>Курси</h2>

    <ul class="courses-block">
        {% assign courses = site.pages | where_exp: "item", "item.path contains 'study/'" %}
        {% for course in courses %}
        <li>
            <a href="{{ site.baseurl }}{{ course.url }}">{{ course.title }}</a>
        </li>
        {% endfor %}
    </ul>

    <!-- <small>

        {% for tag in site.tags %}

        {% assign tag_slug = tag | first %}
        {% assign no_of_posts = tag | last | size %}

        <a href="{{ 'tagged/' | relative_url }}{{ tag_slug }}" title="See all posts by {{ tag_slug }} tag">#{{ tag_slug
            }}</a>
        {% endfor %}
    </small> -->

</main>

</body>

</html>